<style>
    a {
        color: inherit;
        text-decoration: none;
        transition: all 0.3s;
        font-size: larger;
    }

    a:hover,a:focus {
        text-decoration: none;
    }
    .icon{
        font-size: 2rem;
        padding: auto;
    }
</style>
<div class="py-5"></div>
<footer class="w-100 p-4 flex-shrink-0" style="background-color: rgb(219, 219, 219);">
    <div class="container py-4">
        <div class="d-md-flex gy-4 gx-5">
            <div class="container col">
                <h5 class="text-dark mb-3 text-start">Eshoes</h5>
                <ul class="list-unstyled text-muted">
                    <li><a href="/">Home</a></li>
                    <li><a href="/#feature">Featured</a></li>
                    <li><a href="/#women">Women</a></li>
                    <li><a href="/#new">New</a></li>
                </ul>
            </div>
            <div class="container col">
                <h5 class="text-dark mb-3 text-start">Support</h5>
                <ul class="list-unstyled text-muted">
                    <li><a href="#">Product Help</a></li>
                    <li><a href="#">Customer care</a></li>
                    <li><a href="#">Authorized Service</a></li>
                    <li><a href="#">FAQ</a></li>
                </ul>
            </div>
            <div class="container py-4 col">
                <h5 class="c-dark mb-3 text-start">Social</h5>
                <ul class="list-unstyled text-muted">
                    <a href="#"><i class="bi bi-facebook s-lg icon"></i></a>
                    <a href="#"><i class="bi bi-twitter icon px-2"></i></a>
                    <a href="#"><i class="bi bi-instagram icon"></i></a>
                </ul>
            </div>
        </div>
    </div>
    <h5 class="text-center ">© EShoes all right reserved</p>

</footer>
</div>