<style>
  li{
    font-weight: bold;
  }
</style>
<nav class="navbar navbar-expand-lg  fixed-top navbar-light " style="background-color: rgb(219, 219, 219);">

  
 <button class="btn navbar-toggler border-3 px-2" type="button" data-bs-toggle="offcanvas"
  data-bs-target="#nav-menu" aria-controls="offcanvasExample"
  >
  <span class="bi bi-grid-3x3-gap-fill"  style="font-size: 2rem;"></span>
</button>
 <h1 class="fw-bolder fs-5 mx-auto ms-lg-5 ps-lg-5">EShoe</h1>


<div class="offcanvas offcanvas-start" tabindex="-1" id="nav-menu" aria-labelledby="offcanvasExampleLabel" style="background-color: rgb(219, 219, 219);">
  <div class="offcanvas-header">
    <h5 class="offcanvas-title" id="offcanvasLabel">Menu</h5>
    <button type="button" class="btn-close text-reset" data-bs-dismiss="offcanvas" aria-label="Close"></button>
  </div>
  <div class="offcanvas-body p-lg-0">
    <ul class="navbar-nav ms-auto">
    <li class="nav-item p-2">
      <a class="nav-link active" aria-current="page" href="/">Home</a>
    </li>
    <li class="nav-item p-2">
      <a class="nav-link active" aria-current="page" href="/#feature">Featured</a>
    </li>
    <li class="nav-item p-2">
      <a class="nav-link active" aria-current="page" href="/#women">Women</a>
    </li>
    <li class="nav-item p-2">
      <a class="nav-link active" aria-current="page" href="/#new">New</a>
    </li>
    <li class="nav-item p-2 ">
      <a class="nav-link active" aria-current="page" href="/shop">Shop</a>
    </li>
    <div class="container"></div>
  </ul>
  </div>
  </div>
</nav>

